@import '/node_modules/bootstrap/dist/css/bootstrap.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;  /*CAMBIAR TIPO DE LETRA*/
}

body {
    background-color: #f4f4f4; 
}


header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #383637; 
    padding: 10px;
    
}

/* xx ASIGNAR TIPO DE FUENTE DE LETRAS DESPUES SE LE AGREGA */

header .logo {
    display: flex;
    margin-right: 50%;
}
   
.logo {
    text-decoration: none;
    color: #fff; 
    font-size: 24px;
}

header img {
    margin-left: 4%;
    width: 3%;
    height: auto;
}
.navbar {

    margin-bottom: -35px;
}
.navbar ul {
    list-style-type: none;

    display: flex;
}

.navbar li {
    margin: 0 10px; 
}

.navbar a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold; 
    font-size: 18px;
}

/* ASIDE IMAGEN DE FONDO     */
.content {
    background-image: url(/Front-End/img/img-principal.png);
    background-size: cover;
    background-position: center;
    height: 100vh; /* Cambiado a 100vh */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
   
}

.content span {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-align: center; /* Centrar el texto */
    margin-right: 50%;
    font-family: cursive;
}


/* Seccion de NOSOTROS*/

.text-center{
    font-weight: bold;
    color: black;
    font-size: 30px;
    margin: 2%;
    margin-bottom: -6%;
}


/* Estilo para hacer las imágenes un poco más pequeñas */
.carousel-item img {
    width: 10%; 
    margin: 0 auto; 
}

/* Estilo para hacer el contenedor del carrusel más pequeño */
#carouselExampleCaptions {
    max-width: 70%; /* Ajustar el ancho máximo según tus necesidades */
    margin: 10% auto; /* Centrar vertical y horizontalmente */
}


.texto-main {
    bottom: 5%;
    display: flex;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-top: 30px;
    justify-content: center;
    align-items: center;

}




/*EQUIPO*/
.equipo-main {
    text-align: center; 
    background-color: #0D0C1C;
    padding: 12% 0; 
    color: #ABAEB8;
    margin-top: -6%;

}


.equipo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
    width: 100%;
}

.equipo-member {
    
    width: calc(33.33% - 30px);
    margin: 10px;
    text-align: center;

}

.card img{
    width: 26%;
    height: auto;

}

.card-img-top {
    width: 100px;
    height: 100px;
    border-radius: 40%;
    margin: 0 auto 10px;
    display: block;
}

.card-title {
    font-size: 30px;
    font-weight: bold;
}

.card-text {
    padding: 20px;
    font-size: 20px;
}

.card{
    margin-top: 4%;
    color: white;
    background-color: #0D0C1C;
}

.linkedin-icon {
    font-size: 20px;
    color: blue;
    margin-top: 10px;
}

.text-main  {
    font-size: 33px;
    color: #fff;
    margin-top: -6%;

}

/*seccion AREAS*/

.card-areas {
    border: 1px solid #ccc; /* Añade un borde */
    border-radius: 10px; /* Añade esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra */
    margin-bottom: 20px; /* Añade espacio inferior entre las tarjetas */
}

.row {

    background-color: rgb(231, 231, 231);
}

.card-areas .card-body {
    padding: 20px; 
}

.card-areas .card-title {
    font-size: 22px; 
    font-weight: bold; 
    color: #333; 
}

.card-areas .card-text {
    font-size: 18px; 
    color: #000000; 
}

.card-areas h2{   
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

/*LINEA*/
.div-lineal {
    background-color: red;
}

.equipo-member i{
    font-size: 40px;
    color: white;
    text-decoration: none;
    list-style: none;
    
}

/*FORMULARIO*/
.form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem; /*Distancia del formulario y locacion*/
    padding: 10px;
   
}

.form h2{
    font-size: 30px;
    font-weight: bold;
    color: #0a0a0a;
}


.container-formulario {
    width: 100%; 
    max-width: 700px;
    border-radius: .2rem;
    padding: 30px;
    border: 4px solid #ddd;
    border-radius: 10px;
    background-color: #F5F6FA;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 5%;

    

    /*TEXTO del formulario*/
    label {
      color: black;
      font-weight: 600;
    }

    #formulario {
      width: 90%;
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      gap: 2rem;
       
      .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .8rem;
        

        input {
          padding: .5rem;
          outline: none;
          border: none;
          border-radius: .3rem;
          
        }
      }

      #message {
        outline: none;
        border: none;
        resize: none;
        padding: .7rem;
        margin-top: .5rem;
      }

      .btn {
        border: none;
        outline: none;
        background: none;
        width: 90%;
        padding: .5rem;
        border-radius: .3rem;
        color: #fff;
        background-color: #192A56;
      }
    }
  }

  /*NUESTRA LOCACION IMAGEN*/

  .imagen-formulario {
    outline: 2px solid rgb(22, 22, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imagen-formulario {
    width: 600px;
    padding: 30px;
    
  }
  
  .text-formulario {
    display: flex;
    flex-direction: column;
    align-items: start;
    .content-text {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: .8em;
      margin: 30px;
     
      font-size: 16px;
   
    }
}

iframe{
    width: 100%;
}
.imagen-formulario h3{
    font-weight: bold;
    padding: 1px;
}
.imagen-formulario i{

    font-size: 18px;
    color: #61CA88;
}

/* footer */
footer {
    background-color: #0D0C1C;
    color: #fff;
    padding: 1px;
    position: relative; /* Para posicionar las líneas correctamente */
    text-align: center; /* Para centrar los elementos */
    
}

.footer-icons {
    margin-bottom: 22px; /* Espacio entre la línea y los iconos */
    position: relative;
}

.footer-icons ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    
}

.footer-icons ul li {
    display: inline-block;
    margin: 0 10px;
    

}
.footer-icons ul li a i {
    font-size: 45px; /* Tamaño de los iconos */
    color: white;
    margin: 12px;
}

.line {
    width: 40%; /* Ancho de la línea */
    height: 2px;
    background-color: white;
    margin-bottom: 20px; /* Espacio entre la línea y el contenido de abajo */
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
}

.right-line {
    width: 40%; /* Ancho de la línea */
    height: 2px;
    background-color: white;
    margin-bottom: 20px; /* Espacio entre la línea y el contenido de abajo */
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
}


.text-center{
    display: flex;
    justify-content: end;
    align-items: end;
    color:white ;
    font-weight: bold;
    
}


.container-cliente label{
    font-size: 17px;
    margin-left: 80%;
    font-weight: bold;

}

.container-cliente .parrafo{

    font-size: 16px;
    display:flex;
    justify-content: end;
    font-weight: bold;
    margin-right: 100px;
    margin: 2%;
}

.container-cliente .parrafo a{
    color: white;
    text-decoration: none;
}

.parrafo a:hover{
    background-color: #12224d

}



.container-cliente .clientes{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: start;
    width: 30%;
    position: absolute;
    top: 60%;
    left: 5%;


}

.container-cliente .copy{

    margin-bottom: 1px;
}